* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --outgoing-text-color: #08000e;
  --incoming-text-color: #ffff;
  --icon-color: #c05dfa;
  --icon-hover-bg: #bd4bff;
  --placholder-color: #08000e;
  --incoming-chat-bg: #9e07f5;
  --outgoing-chat-bg: #cccccc;
  --incoming-chat-border: #390153;
  --outgoing-chat-border: #373538;
}
.dark-mode {
  --outgoing-text-color: #c05dfa;
  --incoming-text-color: #ffff;
  --icon-color: #08000e;
  --icon-hover-bg: #390363;
  --placholder-color: #08000e;
  --incoming-chat-bg: #390258;
  --outgoing-chat-bg: #373538;
  --incoming-chat-border: #390153;
  --outgoing-chat-border: #373538;
}
.header {
  display: flex;
  justify-content: center;
  height: 50px;
  padding: 1rem;
  background-color: var(--outgoing-chat-bg);
  border-bottom: var(--incoming-chat-border) 2px solid;
}
.header h2 {
  color: var(--incoming-chat-bg);
}
body {
  background: var(--outgoing-chat-bg);
}

/*CHAT CONTAINER STYLING*/
.chat-container {
  max-height: 100vh;
  padding-bottom: 150px;
  overflow-y: auto;
}
:where(.chat-container, textarea)::-webkit-scrollbar {
  width: 6px;
}
:where(.chat-container, textarea)::-webkit-scrollbar-track {
  background: var(--incoming-chat-bg);
  border-radius: 25px;
}
:where(.chat-container, textarea)::-webkit-scrollbar-thumb {
  background: var(--icon-color);
  border-radius: 25px;
}

.chat-container .chat {
  padding: 25px 10px;
  display: flex;
  justify-content: center;
  color: var(--outgoing-text-color);
}

.chat-container .outgoing {
  background: var(--outgoing-chat-bg);
  border: 1px solid var(--outgoing-chat-border);
  color: var(--outgoing-text-color);
}

.chat .chat-content .fa-clipboard {
  font-size: 1.3rem;
  color: var(--icon-color);
  visibility: hidden;
}
.chat:hover .chat-content i {
  visibility: visible;
}
.chat-container .incoming {
  background: var(--incoming-chat-bg);

  color: var(--incoming-text-color);
}
.chat .chat-content {
  max-width: 1200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chat .chat-details {
  display: flex;
  align-items: center;
}
.chat .chat-details img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 2px;
  align-self: flex-start;
}

.chat .chat-details p {
  white-space: pre-wrap;
  font-size: 1.05rem;
  padding: 0 50px 0 25px;
}

.fa-clipboard {
  user-select: none;
  cursor: pointer;
}

.typing-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  padding: 20px 10px;
  justify-content: center;
  background-color: var(--outgoing-chat-bg);
  border: 1px solid var(--incoming-chat-border);
}
.typing-container .typing-content {
  max-width: 950px;
  width: 100%;
  display: flex;
  align-items: flex-end;
}
.typing-content .typing-textarea {
  width: 100%;
  display: flex;
  position: relative;
}
.typing-textarea textarea {
  width: 100%;
  height: 55px;
  border: none;
  border-radius: 50px;
  font-size: 1rem;
  padding: 15px 45px 15px 20px;
  resize: none;
  color: var(--incoming-chat-bg);
  background: var(--incoming-text-color);
  outline: 1px solid var(--outgoing-chat-border);
}

.typing-textarea textarea::placeholder {
  color: var(--placholder-color);
}

.typing-textarea i {
  position: absolute;
  right: 0;
  bottom: 0;
  visibility: hidden;
}
.typing-textarea textarea:valid ~ i {
  visibility: visible;
}
.typing-content i {
  height: 50px;
  width: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icon-color);
}

.typing-controls {
  display: flex;
}
.typing-controls i {
  margin-left: 7px;
  font-size: 1.4rem;
  border-radius: 50%;
  background-color: var(--outgoing-chat-bg);
  border: 1px solid var(--incoming-chat-border);
}
.typing-animation {
  display: flex;
  align-items: center;
  gap: 5px;
}

.typing-animation {
  display: flex;
  align-items: center;
  gap: 5px;
}

.typing-dot {
  width: 8px;
  height: 8px;
  background-color: #ffffff;
  border-radius: 50%;
  animation: bounce 1s infinite ease-in-out;
  animation-delay: var(--delay);
}

/* Keyframes for bouncing and fading effect */
@keyframes bounce {
  0%,
  60%,
  100% {
    transform: translateY(0);
    opacity: 1; /* Full opacity when not moving */
  }
  30% {
    transform: translateY(-10px);
    opacity: 0.5; /* Fading out while moving up */
  }
}
